#red-box{
    background-color: rgb(160, 0, 15);
    text-align: center;
    padding-top: 1px;
    padding: 10px;
}

h1{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

h2{
    font-size: 1rem;
    text-align: center;
}

body{
    text-align: left;
}

#image-me{
    width: 150px;
    border: 2px ridge rgb(253, 252, 252);
    margin-right: 20px;
    border-radius: 20px;
}

#footer{
    background-color: rgb(160, 0, 15);
    text-align: center;
    padding-top: 1px;
    color:white;
    padding: 10px;
}

li{
    padding-left: 30px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Mansalva', cursive;
}